@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Start Quiz</h1>
    <a asp-controller="Quiz" asp-action="Index" class="btn btn-primary border form-control">
        Start
    </a>
</div>
